.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera{
  padding: 50px;
}

.file{
  padding: 50px;
}

.charts {
  display: flex;
}

.LegendList{
  list-style-type: none;
}

.BulletLabel{
  display: flex;
}